* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: #1f2937;
}

h1 {
  color: #f9faf8;
}

.nav > .logo > p {
  font-size: 24px;
  color: #f9faf8;
}

.nav {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.nav > .links > ul {
  display: flex;
  gap: 1rem;
  color: #e5e7eb;
  font-size: 18px;
  list-style: none;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  gap: 2rem;
  width: 50%;
  margin: auto;
}

.hero-content {
  flex: 1;
}

.hero-content > img {
  width: 100%; 
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-content > p {
  font-size: 18px;
  color: #e5e7eb;
  padding: 1rem 0;
  height: 100%;
}

.btn {
  color: #e5e7eb;
  background-color: #3882f6;
  width: 100px;
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
}

.sign-up-btn {
  border: none;
}

h3 {
  color: #1f2937;
  font-size: 36px;
  font-weight: bolder;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 70%;
  height: 70%;
}

.body {
  padding: 2rem 0 4rem;
}

.body > .content > .inner-content > img {
  width: 100%;
  border-radius: 10px;
  height: 300px;
}

.inner-content {
  padding: 2rem 0 4rem;
  width: 60%;
  text-align: center;
}

.content > p {
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
  padding: 10% 20%;
}

.quote > p {
  color: #1f2937;
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quote > .author {
  text-align: right;
  font-weight: bold;
}

.footer {
  background-color: #3882f6;
  color: #e5e7eb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  gap: 2rem;
  padding: 2rem;
  width: 60%;
}

.bold {
  font-weight: bolder;
}

.footer-btn {
  border-color: #ffffff;
}
